/*
 * https://github.com/jtrost/Complete-CSS-Reset
*/

/* Displays for HTML 5 */
article, aside, audio, command, datagrid, details, dialog, embed,
figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
video, wbr {
	display: block;
}

bdi, figcaption, keygen, mark, meter, progress, rp, rt, ruby, time {
	display: inline;
}

/* Deprecated tags */
acronym, applet, big, center, dir, font, frame, frameset, noframes, s,
strike, tt, u, xmp {
	display: none;
}

/* Reset styles for all structural tags */
a, abbr, area, article, aside, audio, b, bdo, blockquote, body, button,
canvas, caption, cite, code, col, colgroup, command, datalist, dd, del,
details, dialog, dfn, div, dl, dt, em, embed, fieldset, figure, form,
h1, h2, h3, h4, h5, h6, head, header, hgroup, hr, html, i, iframe, img,
input, ins, keygen, kbd, label, legend, li, map, mark, menu, meter, nav,
noscript, object, ol, optgroup, option, output, p, param, pre, progress,
q, rp, rt, ruby, samp, section, select, small, span, strong, sub, sup,
table, tbody, td, textarea, tfoot, th, thead, time, tr, ul, var, video {
	background: transparent;
	border: 0;
	font-size: 100%;
	font: inherit;
	margin: 0;
	outline: none;
	padding: 0;
	text-align: left;
	text-decoration: none;
	vertical-align: baseline;
	z-index: 1;
  color: inherit;
}

/* Miscellaneous resets */
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;

}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* AGGIUNTE AL RESET */


a:visited {
    color: inherit;
}


/* *************************** */
/* DA QUI STILI VERI */
/* *************************** */


html {
  font-size: 20px;
}

body {
  background-color: #0f2486;
  color: #50e95d;
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
  max-width: 414px;
  overflow-x: hidden;
  margin: 0 10px;
}

nav {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 20px;
}

.chapter {
  padding: 10px 0 40px;
  border-bottom: 1px solid white;
}

/* STILI INTERNI AI CAPITOLI */
p {
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  }

h1 {
	font-family: Questrial, sans-serif;
  font-size: 2.5em;
  line-height: 0.8;
  font-weight: 600;
  margin: 0.6em 0 1em;
}

h2 {
  font-size: 1.5em;
  line-height: 0.8;
  font-weight: 600;
  margin: 10px 0;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

ins {
  text-decoration: underline;
}

mark {
  background-color: yellow;
  color: black;
  font-size: 105%;
  line-height: 1.35;
}

img {
  width: 100%;
}

.box {
  background-color: yellow;
  padding: 20px;
  margin-top: 20px;
}

.big {
  font-size: 130%;
  line-height: 0.8;
  padding: 10px;
}




/* ************ */
/* LOGO ANIMATO */
/* ************ */

html,
body {
	overflow: hidden;
	position: relative;
	height: 100%;
}


.logoContainer {
	overflow: hidden;
	text-align: center;
}

.animatedLogo {
	font-family: Questrial, sans-serif;
	font-size: 28.5vw;
	transition: line-height 1s, margin-top 1s, transform 1s;
	margin-bottom: 20vw;
	line-height: .42;
	margin-top: -10vw;
	transform: rotate(180deg);
}
