  @font-face {
    font-family: "SangBleuEmpire-Medium";
    src: url("/fonts/SangBleuEmpire-Medium-WebS.woff2") format("woff2"),
         url("/fonts/SangBleuEmpire-Medium-WebS.woff") format("woff");
  }




  /* richiesto da scrollmagic */
  html,
  body {
    height: 100%;
  }

  /* reset and general layout styles */

  body {
    overflow-x: hidden;
  }

  html,
  body,
  div,
  p,
  h1,
  h2 {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: inherit
  }



  /****** real styles for content ******/

  .header {
    display: flex;
    width: 100vw;
    height: 900px;
    justify-content: center;
  }

  .main {
    padding: 0 4vw;
  }

  .spacer100 {
    height: 100vh;
  }
  .spacer20 {
    height: 20vh;
  }

  /* styles for footer */
  .footer {
    color: black;
    padding: 4vw;
    font-size: 6vw;
    line-height: 1;
  }



  .disclaimer-link {
    float: right;
  }




  /*
  ███████  ██████  ███    ██ ████████ ███████
  ██      ██    ██ ████   ██    ██    ██
  █████   ██    ██ ██ ██  ██    ██    ███████
  ██      ██    ██ ██  ██ ██    ██         ██
  ██       ██████  ██   ████    ██    ███████
  */


  body {
    font-family: neue-haas-grotesk-display, Helvetica, sans-serif;
  }

  .vertigo {
    letter-spacing: .05em;
  }

  .what,
  .footer {
    font-family: SangBleuEmpire-Medium, serif;
    font-weight: 700;
  }

  .getyourcopy a {
    font-family: SangBleuEmpire-Medium, serif;
  }












  /*
   ██████  ██████  ██       ██████  ██████  ███████
  ██      ██    ██ ██      ██    ██ ██   ██ ██
  ██      ██    ██ ██      ██    ██ ██████  ███████
  ██      ██    ██ ██      ██    ██ ██   ██      ██
   ██████  ██████  ███████  ██████  ██   ██ ███████
  */


  html {
    transition: background-color 1s;
  }

  html.blue {
    background: #0f2486;
  }

  html.black {
    background: black;
  }

  html.white {
    background: white;
  }

  .logo-container p {
    color: #50e95d;
  }

  .logo-container.closed p {
    opacity: 0.3;
  }

  .logo-container.closed .last {
    opacity: 0.99;
  }

  body {
    color: white;
  }

  a,
  a:visited,
  a:active {
    color: inherit;
  }

  .footer a:hover {
    color: #50e95d;
  }





  /* stili logo */
  .logo-container {
    position: fixed;
    transform-origin: 50% 50%;
    font-size: 25.5vw;
    line-height: .4;
    top: -14vh;
    font-weight: 600;
    letter-spacing: .1em;
    transition: line-height 1s, margin-top 1s, top 1s, opacity 1s, font-size 1s, margin-left 1s;
    opacity: 1;
    z-index: 9;
    padding: 11vw 4vw;
  }

  .logo-container.closed {
    line-height: .015;
    top: 0vw;
  }

  body,
  .header {
    background: inherit;
  }




  /* stili what */
  .line {
    font-size: 4vmin;
    height: 2.5vmin;
    margin-bottom: 50vmin;
    opacity: 0;
    display: inline-block;
    transition: opacity 0.6s ease-in-out;
    opacity: 1;
  }



  .visible {
    opacity: 1;
  }
  .hidden {
    opacity: 0;
  }

  .line span.vuoto {
    display: none;
  }
  /* striketrough su "non" */
  del::before {
    content:'';
    position: absolute;
    top: 0.7em;
    width: 1.9em;
    border-top: 0.25em solid white;
  }








  /* styles for image scroller */
  .pics_container {
    margin-bottom: 70vw;
  }

  .pics_container img {
    position: absolute;
    opacity: 0;
    width: 80vw;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  img.active,
  img.alwaysactive {
    opacity: 1;
  }

  .imagebox {
    position: sticky;
    top: 40vh;
  }






  .vertigo {
    width: 80vw;
    font-weight: 400;
    margin: 0 auto 0;
    font-size: 2.9vw;
  }

  .vertigo h2 {
    font-size: 3em;
    font-weight: 300;
    line-height: 0.9;
    margin-bottom: 0.3em;
  }

  .issue-title {
    font-weight: 600;
  }

  .vertigo p {
    font-size: 1em;
    hyphens: auto;
    text-align: justify;
  }

  .issue-number-in-text {
    font-size: 0.8em;
  }

  .issue-title-in-text {
    font-size: 0.8em;
    font-weight: 600;
  }











  .getyourcopy {
    text-align: center;
  }

  .getyourcopy a {
    font-size: 14vw;
    font-weight: 700;
    text-shadow: 10px 5px 10px #50e95d, 10px 5px 10px #50e95d;
    line-height: 1.2;
  }

  .getyourcopy a:hover {
    text-shadow: 0px 0px 10px white, 0px 0px 10px grey, 10px 5px 10px #50e95d, 10px 5px 20px #50e95d;
  }








  .vacuum .pic {
    background-image: url("/pics/vacuumcleaner.png");
    background-size: 50vw auto;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: center;
    width: 50vw;
    height: 100vw;
    margin: 0 auto;
  }




  /* per schermi orizzontali */
  @media (min-aspect-ratio: 4/3) {
    .header {
      justify-content: flex-end;
    }
    .logo-container.closed {
      font-size: 12.5vw;
      top: 2.5vw;
      padding: 5vw 3vw;
      transform: translateX(-5vw);
    }
    .pics_container {
      margin-bottom: 40vw;
      }

    .pics_container img {
      width: auto;
      height: 60vh;
      left: 0;
      transform: translateX(0);
    }

    .imagebox {
      top: 35vh;
    }

    .vertigo {
      width: 50vw;
      font-weight: 400;
      margin: 0 0 0 40vw;
      font-size: 1.8vw;
    }

    .getyourcopy {
      font-size: 5.5vw;
    }

    .vacuum {
      margin-top: 0;
      margin-left: 0;
    }

    .vacuum .pic {
      background-size: 28vw auto;
      width: 30vw;
      height: 50vw;
    }

    .footer {
      font-size: 4vw;
    }


  }

  @media (max-aspect-ratio: 3/4) {
    .line {
      font-size: 6vw;
      height: 4vw;
    }
    .vertigo p {
      font-size: 4.5vw;
    }
  }









  .debug div {
    border: 1px solid red;
  }
